<footer>

    <section class="logo-rodape">
        
        <div class="logo-img">
            <img src="./images/logo-footer.png" alt="logo shoes store do rodape">
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

    </section>

    <section id="informacoes-rodape">

        <div>
            <span>categorias</span>
            <ul class="info-list">
                <li class="info-item"><a href="#">sandálias</a></li>
                <li class="info-item"><a href="#">botas</a></li>
                <li class="info-item"><a href="#">tênis</a></li>
                <li class="info-item"><a href="#">oxford</a></li>
                <li class="info-item"><a href="#">coturnos</a></li>
            </ul>
        </div>

        <div>
            <span>institucional</span>
            <ul class="info-list">
                <li class="info-item"><a href="#">sobre nós</a></li>
                <li class="info-item"><a href="#">perguntas frequentes</a></li>
                <li class="info-item"><a href="#">política de privacidade</a></li>
                <li class="info-item"><a href="#">rastreamento de pedidos</a></li>
                <li class="info-item"><a href="#">trabalhe conosco</a></li>
                <li class="info-item"><a href="#">contato</a></li>
            </ul>
        </div>

    </section>

</footer>

<script src="/javascript/index.js">

</script>

</body>
</html>