
    <header>
        
        <div id="logo">
            
            <img src="images/Logo-Shoes.png" alt="Logo da Shoes Store">
            
        </div>
        
        <nav class="nav-bar">
            <ul class="nav-list">
                <li class="nav-item"><a href="">Todos os produtos</a></li>
                <li class="nav-item"><a href="">Coleções</a></li>
                <li class="nav-item"><a href="">Outlet</a></li>
            </ul>
        </nav>
        
        <div id="menu-hamburguer">
            
            <img class="menu-hamburguer" src="images/icon/menu-hamburguer.png" alt="ícone do menu hamburguer">
            
            <div id="menu-mobile">
                
                <nav class="nav-bar-mobile">
                    <ul class="nav-list-mobile">
                        <li class="nav-item-mobile"><a href="">Todos os produtos</a></li>
                        <li class="nav-item-mobile"><a href="">Coleções</a></li>
                        <li class="nav-item-mobile"><a href="">Outlet</a></li>
                    </ul>
                </nav>

            </div>

        </div>
    </header>
    