<%- include('partials/header.ejs') %>

    <main>
        <div>
            <form method="post" action="">
                
            </form>
        </div>
    </main>

<%- include('partials/footer.ejs') %>
