<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/error-404.css">
    <title>ERRO!</title>
</head>
<body>
    <h1>Erro ao tentar encontrar página, por favor volte ao menu principal! <a href="https://localhost:3000/">LINK</a></h1>
    
</body>
</html>