
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>Shoes Store</title>
</head>
<body>
    
    <%- include('partials/header.ejs') %>

    <main>
        <a href="#">
            <img class="whatsappFlutuante" src="./images/icon/WhatsApp.svg.webp" alt="ícone do WhatsApp">
        </a>

        <section>
            <img class="banner-principal" src="./images/Banner-principal.png" alt="Banner principal shoes store">
        </section>

        <h1>encontre seu estilo</h1>

        <section id="sessao-um">
            <article class="exposicao-um">
                <img src="./images/banner-1.png" alt="foto um modelo">
            </article>

            <article class="exposicao-dois">
                <img src="./images/banner-2.png" alt="foto dois modelo">
            </article>
        </section>

        <section id="sessao-sapatos">

            <h2>30% OFF</h2>

            <div class="sapatos">
                <ul class="card-sapatos">

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-1.png" alt="Scarpin branco">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-2.png" alt="Scarpin rosa">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-3.png" alt="Scarpin vermelho">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>                       
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-4.png" alt="Sandália salto fino">
                        <div class="card-informacoes">
                            <strong>SAPATILHA SALTO FINO BÁSICO</strong>
                            <small>R$159,00</small>
                        </div>
                    </a></li>

                </ul>
            </div>

        </section>

        <sectiom id="sessao-tres">

            <article class="divisao-um">
                
                <div class="informacoes-divisao-um">
                    <span>
                        SANDÁLIA PALMILHA <br>
                        MATELASSÊ TIRAS ROLOTÊ
                    </span>                    
                </div>

                <div class="button-um">

                    <button class="detalhes"><a href="#">ver detalhes</a></button>

                </div>

                <div class="imagem-divisao-um">

                    <img src="./images/banner-3.png" alt="">
                    
                </div>

            </article>
            
            <article class="divisao-dois">

                <img src="./images/banner-4.png" alt="">

            </article>

        </sectiom>
        
        

    </main>

    <%- include('partials/footer.ejs') %>