<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>Shoes Store</title>
</head>
<body>
    <header>

        <div id="logo">

            <img src="./images/Logo-Shoes.png" alt="Logo da Shoes Store">

        </div>

        <nav class="nav-bar">
            <ul class="nav-list">
                <li class="nav-item"><a href="">Todos os produtos</a></li>
                <li class="nav-item"><a href="">Coleções</a></li>
                <li class="nav-item"><a href="">Outlet</a></li>
            </ul>
        </nav>

        <div id="menu-hamburguer">

            <img class="menu-hamburguer" src="./images/icon/menu-hamburguer.png" alt="ícone do menu hamburguer">

            <div id="menu-mobile">

                <nav class="nav-bar-mobile">
                    <ul class="nav-list-mobile">
                        <li class="nav-item-mobile"><a href="">Todos os produtos</a></li>
                        <li class="nav-item-mobile"><a href="">Coleções</a></li>
                        <li class="nav-item-mobile"><a href="">Outlet</a></li>
                    </ul>
                </nav>

            </div>

        </div>
    </header>

    <main>
        <a href="#">
            <img class="whatsappFlutuante" src="./images/icon/WhatsApp.svg.webp" alt="ícone do WhatsApp">
        </a>

        <section>
            <img class="banner-principal" src="./images/Banner-principal.png" alt="Banner principal shoes store">
        </section>

        <h1>encontre seu estilo</h1>

        <section id="sessao-um">
            <article class="exposicao-um">
                <img src="./images/banner-1.png" alt="foto um modelo">
            </article>

            <article class="exposicao-dois">
                <img src="./images/banner-2.png" alt="foto dois modelo">
            </article>
        </section>

        <section id="sessao-sapatos">

            <h2>30% OFF</h2>

            <div class="sapatos">
                <ul class="card-sapatos">

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-1.png" alt="Scarpin branco">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-2.png" alt="Scarpin rosa">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-3.png" alt="Scarpin vermelho">
                        <div class="card-informacoes">
                            <strong>SCARPIN SALTO FINO BÁSICO</strong>
                            <small>R$140,00</small>
                        </div>                       
                    </a></li>

                    <li class="card-list"><a href="">
                        <img src="./images/sapatilha-4.png" alt="Sandália salto fino">
                        <div class="card-informacoes">
                            <strong>SAPATILHA SALTO FINO BÁSICO</strong>
                            <small>R$159,00</small>
                        </div>
                    </a></li>

                </ul>
            </div>

        </section>

        <sectiom id="sessao-tres">

            <article class="divisao-um">
                
                <div class="informacoes-divisao-um">
                    <span>
                        SANDÁLIA PALMILHA <br>
                        MATELASSÊ TIRAS ROLOTÊ
                    </span>                    
                </div>

                <div class="button-um">

                    <button class="detalhes"><a href="#">ver detalhes</a></button>

                </div>

                <div class="imagem-divisao-um">

                    <img src="./images/banner-3.png" alt="">
                    
                </div>

            </article>
            
            <article class="divisao-dois">

                <img src="./images/banner-4.png" alt="">

            </article>

        </sectiom>
        
        

    </main>

    <footer>

        <section class="logo-rodape">
            
            <div class="logo-img">
                <img src="./images/logo-footer.png" alt="logo shoes store do rodape">
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

        </section>

        <section id="informacoes-rodape">

            <div>
                <span>categorias</span>
                <ul class="info-list">
                    <li class="info-item"><a href="#">sandálias</a></li>
                    <li class="info-item"><a href="#">botas</a></li>
                    <li class="info-item"><a href="#">tênis</a></li>
                    <li class="info-item"><a href="#">oxford</a></li>
                    <li class="info-item"><a href="#">coturnos</a></li>
                </ul>
            </div>

            <div>
                <span>institucional</span>
                <ul class="info-list">
                    <li class="info-item"><a href="#">sobre nós</a></li>
                    <li class="info-item"><a href="#">perguntas frequentes</a></li>
                    <li class="info-item"><a href="#">política de privacidade</a></li>
                    <li class="info-item"><a href="#">rastreamento de pedidos</a></li>
                    <li class="info-item"><a href="#">trabalhe conosco</a></li>
                    <li class="info-item"><a href="#">contato</a></li>
                </ul>
            </div>

        </section>

    </footer>

    <script src="/javascript/index.js">

    </script>
    
</body>
</html>